
<h2>Generate a menu</h2>

<%= form_for :menu, url: menu_meals_path do |m| %>
	<p>
    <%= m.label "Number of days needed" %>
    <%= m.number_field :num, in: 1..7 %>
    <%= m.submit "Generate menu" %>
  </p>
<% end %>